
<section>

    <div class="bodybg">
        <div class="slideshow-container">
            <div class="slide fade slide1">
                <div class="text-content">
                    <h1>Empowering Digital Transformation.</h1>
                    <h4>Innovating today for a smarter tomorrow.</h4>
                    <button class="learn-more-button" routerLink="/service">Learn More</button>
                </div>
            </div>
    
            <div class="slide fade slide2">
                <div class="text-content">
                    <h1>Driving Efficiency with Intelligent Solutions.</h1>
                    <h4>Simplify, streamline, and succeed.</h4>
                    <button class="learn-more-button" routerLink="/service">Learn More</button>
                </div>
            </div>
    
            <div class="slide fade slide3">
                <div class="text-content">
                    <h1>Unlocking Potential Through Data.</h1>
                    <h4>Insights that make a difference.</h4>
                    <button class="learn-more-button" routerLink="/service">Learn More</button>
                </div>
            </div>
    
            <div class="slide fade slide4">
                <div class="text-content">
                    <h1>Redefining Digital Landscapes.</h1>
                    <h4>Built for growth, powered by innovation.</h4>
                    <button class="learn-more-button" routerLink="/service">Learn More</button>
                </div>
            </div>
    
            <div class="slide fade slide5">
                <div class="text-content">
                    <h1>Sustainable Growth, Lasting Impact.</h1>
                    <h4>Strategies for a brighter future.</h4>
                    <button class="learn-more-button" routerLink="/service">Learn More</button>
                </div>
            </div>
    
            <div class="slide fade slide6">
                <div class="text-content">
                    <h1>Empowering Future-Ready Enterprises.</h1>
                    <h4>Prepare today, succeed tomorrow.</h4>
                    <button class="learn-more-button" routerLink="/service">Learn More</button>
                </div>
            </div>
        </div>    
    </div>

    <!-- Text animation with blue background image -->
    <div class="bodytext">
        <div class="background-section">
            <div class="content animated-text">
                <h2 id="changing-text">"Empowering Digital Transformation. Innovating today for a smarter tomorrow."</h2>
            </div>
        </div>
    </div>

    <!-- Catchphrase cards -->
     <div class="catchphrasecontainer">
    <div class="image-gallery11">
        <div class="image-item11">
            <div class="image-quote11">"Empowering you to achieve more."</div>
            <div class="image-container11">
                <img src="../../../assets/imgs/EmpowerHome.jpg" alt="Empower">
                <h3 class="image-title11">Empower</h3>
            </div>
        </div>
        <div class="image-item11">
            <div class="image-container11">
                <img src="../../../assets/imgs/ElevateHome.jpg" alt="Elevate">
                <h3 class="image-title11">Elevate</h3>
            </div>
            <div class="image-quote11">"Transform your digital presence and rise above industry challenges."</div>
        </div>
        <div class="image-item11">
            <div class="image-quote11">"Harness the power of advanced technologies to accelerate your growth."</div>
            <div class="image-container11">
                <img src="../../../assets/imgs/ExcelHome.jpg" alt="Excel">
                <h3 class="image-title11">Excel</h3>
            </div>
        </div>
    </div>
    </div>


    <!-- Card animation -->
    <div class="bodycard">
        <div class="card-container">
            <div class="card">
                <img src="../../../assets/imgs/PersonalBusinessLogo.png" alt="Logo 1" class="card-logo">
                <h3><strong>Business Package</strong></h3>
                <p>Choose from a wide range of web solutions that you need to ensure effective, efficient, and sustainable growth of your business. BrandCurb works on the smallest to largest detail of your website---from mobile and speed optimization, to landing page designs, and even SEO---basically, everything under the digital sun!</p>
            </div>
            <div class="card">
                <img src="../../../assets/imgs/CustomizedApproachLogo.png" alt="Logo 2" class="card-logo">
                <h3><strong>Customized Approach</strong></h3>
                <p>Clients from around the globe have raved and benefited from our responsive WordPress and WooCommerce websites. These SMEs are able to stand-up and even surpass bigger and heavier competition at a lower cost here at BrandCurb---all because our services are tailored and uniquely-made for you and your specific vision for your company.</p>
            </div>
            <div class="card">
                <img src="../../../assets/imgs/ResultsDrivenSolutionsLogo.png" alt="Logo 3" class="card-logo">
                <h3><strong>Results-Driven Solutions</strong></h3>
                <p>At BrandCurb, we are committed to delivering measurable results for our clients. We leverage the latest technologies and marketing tools to create data-driven campaigns that are optimized for performance and ROI. Our team is constantly monitoring and analyzing campaign performance, making adjustments as needed.</p>
            </div>
        </div>
    </div>


    <!-- Client images section  " -->
    <div>
        <div class="exptext">
            <h2><strong>Our Clients </strong></h2>
        </div> 
        <div class="image-row">     
            <a ><img src="../../../assets/imgs/Grace_Path_lab.png" alt="Image 1"></a>
            <a ><img src="../../../assets/imgs/Mau_garments.png" alt="Image 2"></a>
            <a ><img src="../../../assets/imgs/Smc.png" alt="Image 3"></a>
          
        </div>
    </div>
    <!-- Testimonials section -->
    <div class="testimonials-section">
        <h5>TESTIMONIALS</h5>
        <h2>What Our Clients Say About Us</h2>
        <div class="testimonial-content">
            <p class="testimonial-slide">"JP Technologies transformed our data insights! Their data analytics services gave us a clear view of our market trends and customer behavior, helping us make smarter, faster decisions. We saw a remarkable increase in our sales efficiency thanks to the customized dashboards and real-time analytics they provided. Their team truly goes above and beyond to understand and meet our needs."</p>
            <p class="testimonial-slide">"Outstanding service and data-driven insights! JP Technologies has streamlined our operations with their AI-driven analytics solutions. From automating routine processes to enhancing our patient data management, they have improved our operational efficiency and overall customer experience. We’re incredibly impressed with their attention to detail and commitment to delivering results." </p>
            <p class="testimonial-slide">"A game-changer for our digital transformation! Working with JP Technologies was one of the best business decisions we made. Their expertise in digital marketing and e-commerce has elevated our brand presence and online sales significantly. With targeted campaigns and data-backed strategies, we have been able to reach new audiences and drive sustainable growth. Highly recommended!"</p>
            <p class="testimonial-slide">"Working with JP Technology has been a pleasure. Their innovative approach has significantly boosted our productivity!"<p>
        </div>
    </div>
</section>
