<section id="home-section">
  <div class="container-fluid" id="home">
    <h1><strong>Empowering Digital Transformation</strong></h1>
    <h4 style="color: rgb(82, 166, 235); margin-top: 0px;">Innovating today for a smarter tomorrow</h4>
    <button class="learn-more-button" routerLink="/service" >Learn More</button>
  </div>

<!-- text animation with blue background image -->

<div class="bodytext">
    <div class="background-section">
        <div class="content">
            <h2>"Guiding your business to thrive in an ever-changing landscape, delivering value that empowers both your growth and your customers' success."</h2>
           
           <br><br>
            <ul>
                <li><strong>Empower</strong> - <br> Unlock the full potential of your business with cutting-edge solutions that drive success and enhance customer experience.</li>  <br>
                <li><strong>Elevate</strong> - <br> Transform your digital presence and rise above industry challenges with smart, scalable strategies.</li>  <br>
                <li><strong>Excel</strong> - <br>Harness the power of advanced technologies and data analytics to accelerate your growth and outperform the competition.</li>  <br>
            </ul>
        </div>
    </div>
</div>


<!-- card animation -->

<div class="bodycard">
    <div  class="card-container" >
        <div class="card">  
            <img src="../../../assets/imgs/PersonalBusinessLogo.png" alt="Logo 1" class="card-logo">
            <h3><strong> Business Package</strong></h3>
            <p>Choose from a wide range of web solutions that you need to ensure effective, efficient, and sustainable growth of your business. BrandCurb works on the smallest to largest detail of your website---from mobile and speed optimization, to landing page designs, and even SEO---basically, everything under the digital sun!</p>
        </div>
        <div class="card">   
            <img src="../../../assets/imgs/CustomizedApproachLogo.png" alt="Logo 2" class="card-logo">
            <h3><strong> Customized Approach</strong></h3>
            <p>Clients from around the globe have raved and benefited from our responsive WordPress and WooCommerce websites. These SMEs are able to stand-up and even surpass bigger and heavier competition at a lower cost here at BrandCurb---all because our services are tailored and uniquely-made for you and your specific vision for your company.</p>
        </div>
        <div class="card"> 
            <img src="../../../assets/imgs/ResultsDrivenSolutionsLogo.png" alt="Logo 3" class="card-logo">
            <h3><strong> Results-Driven Solutions</strong></h3>
            <p>At BrandCurb, we are committed to delivering measurable results for our clients. We leverage the latest technologies and marketing tools to create data-driven campaigns that are optimized for performance and ROI. Our team is constantly monitoring and analyzing campaign performance, making adjustments as needed.</p>
        </div>
    </div>
</div>  
  

<!-- client images page -->

  
    <div > 
        <div class="exptext"> <h2><strong>Our Experiences</strong></h2></div> 
        <!-- Image row section -->  
        <div class="image-row">
            <a href="https://www.asianpaints.com/campaign/asian-paints-safe-painting-service/index-new-service.html?cid=PS_GA_DM_A&utm_source=Google_Search_Brand&utm_medium=cpc&utm_campaign=SPS_GOOGLE_PAID&utm_id=BHPS_Brand_Metro-Core_Exact_FY2425&utm_adgroup=Core_broad&utm_term=asian%20paints&utm_term=e-c&gad_source=1&gclid=CjwKCAjwpbi4BhByEiwAMC8Jnfw474CR8NgtxacLurbNB34Alt9ulnzYS1BFA6DYlx9VOY92lBN3phoCXDkQAvD_BwE"><img src="../../../assets/imgs/AAasainpaintsLogo.png" alt="Image 1"></a>
            <a href="https://www.drreddys.com/"><img src="../../../assets/imgs/AADrReddyLogo.png" alt="Image 2"></a>
            <a href="https://www.nivea.in/"><img src="../../../assets/imgs/AAniveaLogo.png" alt="Image 3"></a>
            <a href="https://in.pg.com/"><img src="../../../assets/imgs/AAP&gLogo.png" alt="Image 4"></a>
        </div>
    </div>

<!-- feedback from client -->

<div class="testimonials-section">
    <h5>TESTIMONIALS</h5>
    <h2>What Our Clients Say About Us</h2>
    <div class="testimonial-content">
        <p class="testimonial-slide">Is Nivea a good place to work for? The experience of working at any company can vary based on factors like team, manager, role, company policy etc. However, with an overall rating of 4.2 out of 5 from over 380 employee reviews, it's clear that most employees have a positive experience working at Nivea.</p>
        <p class="testimonial-slide">Driven by its strong consumer-focus and innovative spirit, the company has been the market leader in paints since 1967. Asian Paints is India's leading paint and decor company and ranked among the top ten Decorative coatings companies in the world with a consolidated turnover of ₹ 354 billion.</p>
        <p class="testimonial-slide">According to analyst recommendations, Dr Reddys Laboratories Ltd Share has a "Buy" rating for the long term.</p>
        <p class="testimonial-slide">Procter & Gamble has an overall rating of 4.1 out of 5, based on over 18,697 reviews left anonymously by employees. 81% of employees would recommend working at Procter & Gamble to a friend and 74% have a positive outlook for the business.</p>
    </div>
</div>


 




</section>


